.carousel__imagenes {
    align-items: center;
    background-color: var(--color-gray-light);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    grid-column: 2 / 12;
    justify-content: center;
    padding: 1.5rem;
    transition: box-shadow 0.3s ease;
}

.carousel__imagenes:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel__imagenes a {
    display: flex;
}

.carousel__imagenes a img {
    border-radius: 1rem;
    height: auto;
    margin: auto;
    width: 60%;
    transition: transform 0.3s ease;
}

.carousel__imagenes a img:hover {
    transform: scale(1.05);
}

.carousel__lista {
    display: flex;
    gap: 1rem;
    grid-column: 2 / 12;
    justify-content: center;
    margin: 1.5rem 0;
}

.carousel__lista li {
    background-color: var(--color-gray-light);
    border-radius: 50%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.carousel__lista li:hover {
    transform: scale(1.2);
}

.carousel__lista .isActiveLi {
    background-color: var(--color-blue-light);
    transform: scale(1.4);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .carousel__imagenes {
        height: auto;
        width: 100%;
    }

    .carousel__imagenes a img {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .carousel__imagenes {
        grid-column: 1 / -1;
        height: 100%;
        padding: 0;
    }

    .carousel__imagenes a img {
        width: 100%;
    }

    .carousel__lista {
        gap: 2rem;
    }
}