.intro {
  grid-column: 2 / span 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 6rem 0;
  transition: all 0.3s ease-in-out;
}

.intro__img {
  width: 22rem;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.intro__img:hover {
  transform: scale(1.05);
}

.intro__txt {
  width: 50%;
  max-width: 65ch;
  font-family: var(--font-monospace);
  font-size: 1rem;
  font-weight: 750;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: var(--light-text);
  text-align: justify;
  hyphens: auto;
  transition: color 0.3s ease-in-out;
}

.intro__txt:hover {
  color: var(--primary-color);
}

@media (max-width: 1024px) {
  .intro {
    flex-direction: column;
    margin: 4rem 0;
    gap: 2rem;
  }

  .intro__img {
    width: 80%;
  }

  .intro__txt {
    width: 100%;
    font-size: 1rem;
    text-align: justify;
    hyphens: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .intro__img {
    width: 50%;
  }
}
