.cabecera {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cabecera__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2 / span 10;
  margin: 0.5rem 0;
  width: 100%;
}

.cabecera__menu svg {
  height: 1.5rem;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  transition: color 0.5s ease-in-out;
}

.cabecera__menu svg:hover {
  color: var(--light-accent);
}

.cabecera__menu > a,
.cabecera__menu button {
  background-color: var(--light-background);
  border: none;
  border-radius: 50%;
  color: var(--light-text);
  padding: 0.5rem;
  text-decoration: none;
}

.cabecera__menu button {
  margin-left: 70%;
}

.cabecera__menu__redes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--light-background);
  border-radius: 1rem;
  padding: 0.5rem;
}

.cabecera__menu__redes a {
  color: var(--light-text);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.cabecera__menu__redes a:hover {
  color: var(--light-accent);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cabecera__menu button {
    margin-left: 60%;
  }
}

@media (max-width: 767px) {
  .cabecera__menu button {
    margin-left: 0;
  }
}
