.pie {
  background-color: var(--color-gray-light);
  color: var(--color-gray);
  font-family: var(--font-jetbrains);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 2rem;
  text-align: center;
}
