.habilidadTec {
    align-items: center;
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    grid-column: 1 / span 12;
}

.titulo {
    color: var(--light-text);
    font-family: var(--font-monospace);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 4.2rem;
}

.habilidadTec__lista {
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem 15%;
    height: 25rem;
    width: 50%;
}

.habilidadTec__lista li {
    align-items: center;
    display: flex;
    gap: 3rem;
}

.habilidadTec__lista li p {
    font-family: var(--font-monospace);
    font-size: 1.2rem;
    font-weight: 700;
}

.habilidadTec__lista li svg {
    background-color: var(--light-surface);
    border-radius: 50%;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .titulo {
        font-size: 1.5rem;
    }

    .habilidadTec__lista {
        width: 83%;
    }

    .habilidadTec__lista li {
        gap: 1rem;
    }

    .habilidadTec__lista li p {
        font-size: 1rem;
    }

    .habilidadTec__lista li svg {
        font-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .titulo {
        font-size: 1.5rem;
    }

    .habilidadTec {
        gap: 3rem;
    }

    .habilidadTec__lista {
        gap: 1rem 2%;
        height: 20rem;
        width: 83%;
    }

    .habilidadTec__lista li {
        gap: 1rem;
    }

    .habilidadTec__lista li p {
        font-size: 1rem;
    }

    .habilidadTec__lista li svg {
        font-size: 1rem;
        padding: 0.6rem;
        width: 1rem;
        height: 1rem;
    }
}