.cabecera {
  display: grid;
  grid-template-columns: repeat(12, 1fr)
}

.cabecera__menu {
  align-items: center;
  display: flex;
  grid-column-end: 12;
  grid-column-start: 2;
  justify-content: space-between;
  margin: .5rem 0;
  width: 100%
}

.cabecera__menu i {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  width: 2rem
}

.cabecera__menu>a {
  background-color: var(--color-gray-light);
  border: none;
  border-radius: 50%;
  color: var(--color-gray);
  padding: .5rem;
  text-decoration: none
}

.cabecera__menu button {
  background-color: var(--color-gray-light);
  border: none;
  border-radius: 50%;
  color: var(--color-gray);
  padding: .5rem;
  text-decoration: none
}

.cabecera__menu i:hover {
  color: var(--color-blue-light);
  transition: all .5s ease-in-out
}

.cabecera__menu button {
  margin-left: 70%
}

.cabecera__menu__redes {
  background-color: var(--color-gray-light);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: .5rem
}

.cabecera__menu__redes a {
  color: var(--color-gray);
  text-decoration: none
}