.cabecera {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cabecera__menu {
  align-items: center;
  display: flex;
  grid-column: 2 / span 10;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 100%;
}

.cabecera__menu svg {
  height: 1.7rem;
  width: 1.7rem;
}

.cabecera__menu > a {
  background-color: var(--light-background);
  border: none;
  border-radius: 50%;
  color: var(--light-text);
  padding: 0.5rem;
  text-decoration: none;
}

.cabecera__menu button {
  background-color: var(--light-background);
  border: none;
  border-radius: 50%;
  color: var(--light-text);
  margin-left: 70%;
  padding: 0.5rem;
  text-decoration: none;
}

.cabecera__menu :hover {
  color: var(--light-accent);
  transition: all 0.5s ease-in-out;
}

.cabecera__menu__redes {
  background-color: var(--light-background);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
}

.cabecera__menu__redes a {
  color: var(--light-text);
  text-decoration: none;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .cabecera__menu button {
    margin-left: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .cabecera__menu button {
    margin-left: 0;
  }
}