.modal {
  animation: show-animation .7s .5s both;
  border: .2rem solid var(--color-gray);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center
}

.modal h2 {
  color: var(--color-gray);
  font-family: var(--font-jetbrains);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0
}

.modal button {
  background-color: var(--color-gray);
  border: none;
  border-radius: .5rem;
  color: var(--color-white);
  font-family: var(--font-jetbrains);
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  padding: 1rem;
  width: 10rem
}

.modal button:hover {
  box-shadow: 5px 5px 7px var(--color-blue-light);
  transition: all .5s linear
}

.modal[open]::backdrop {
  animation: show-backdrop .5s forwards
}

.modal::backdrop {
  background-color: hsla(195, 36%, 13%, 0.7)
}

@keyframes show-modal {
  0% {
    opacity: 0;
    transform: translateY(60%)
  }

  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

@keyframes show-backdorp {
  0% {
    transform: translateY(100%)
  }

  100% {
    transform: translateY(0%)
  }
}