@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .cabecera__menu button {
    margin-left: 60%;
  }

  .titulo {
    font-size: 1.5rem;
  }

  .intro {
    margin: 5rem 0;
  }

  .intro__img {
    width: 50%;
  }

  .intro__txt {
    font-size: 1rem;
    width: 50%;
  }

  .main__img {
    width: 165%;
  }

  .habilidadTec__lista {
    width: 83%;
  }

  .habilidadTec__lista li {
    gap: 1rem;
  }

  .habilidadTec__lista li p {
    font-size: 1rem;
  }

  .habilidadTec__lista li i {
    font-size: 1.5rem;
    width: 1.5rem;
  }

  .habilidadBland__arti {
    width: 100%;
  }

  .habilidadBland__arti__img {
    width: 60%;
  }

  .habilidadBland__arti__lista {
    font-size: 1.2rem;
  }

  .habilidadBland__arti__lista li details p {
    width: 11rem;
  }

  .contacto__contenido {
    width: 83%;
  }

  .contacto__contenido__img {
    width: 50%;
  }

  .contacto__contenido__txt {
    font-size: 1rem;
    width: 45%;
  }

  .contacto__contenido__txt button {
    font-size: 1rem;
    margin-top: 2rem;
    width: 11rem;
  }

  .proyecto {
    grid-column: 2 / span 10;
  }

  .proyecto__arti__div {
    font-size: 1rem;
    width: 45%;
  }

  .proyecto__arti__img {
    width: 50%;
  }

  .proyecto__arti__div button {
    font-size: 1rem;
    margin-top: 2rem;
    width: 11rem;
  }
}

@media only screen and (max-width: 767px) {
  .cabecera__menu button {
    margin-left: 0;
  }

  .titulo {
    font-size: 1.5rem;
  }

  .intro {
    flex-direction: column;
    gap: 3rem;
    margin: 3rem 0;
  }

  .intro__img {
    width: 100%;
  }

  .intro__txt {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  .main__img {
    grid-column: 2 / span 10;
    width: 100%;
  }

  .habilidadTec {
    gap: 3rem;
  }

  .habilidadTec__lista {
    gap: 1rem 2%;
    height: 20rem;
    width: 83%;
  }

  .habilidadTec__lista li {
    gap: 1rem;
  }

  .habilidadTec__lista li p {
    font-size: 1rem;
  }

  .habilidadTec__lista li i {
    font-size: 1rem;
    padding: 0.6rem;
    width: 1rem;
  }

  .habilidadBland__arti {
    flex-direction: column;
    width: 100%;
  }

  .habilidadBland__arti__img {
    width: 100%;
  }

  .habilidadBland__arti__lista {
    font-size: 1.2rem;
    width: 100%;
  }

  .habilidadBland__arti__lista li details p {
    width: 11rem;
  }

  .contacto__contenido {
    align-items: center;
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    width: 100%;
  }

  .contacto__contenido__img {
    width: 70%;
  }

  .contacto__contenido__txt {
    font-size: 1rem;
    width: 80%;
  }

  .contacto__contenido__txt button {
    font-size: 1rem;
    width: 11rem;
  }

  .proyecto {
    grid-column: 2 / span 10;
  }

  .proyecto__arti {
    align-items: center;
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    width: 100%;
  }

  .proyecto__arti__div {
    font-size: 1rem;
    width: 100%;
  }

  .proyecto__arti__img {
    width: 100%;
  }

  .proyecto__arti__div button {
    font-size: 1rem;
    width: 11rem;
  }
}