:root {
    --color-gray: #434962;
    --color-gray-light: #EBECF0;
    --color-white: #fff;
    --color-blue-light: #60D9F9;
    --font-jetbrains: 'JetBrains Mono', monospace;
    --color-black :#161616;
}